main {
	margin-top: 10vw;
	text-align: center;
}

main img {
	max-width: fit-content;
	width: 100%;
}

main h1 {
	font-family: var(--secondary-font-family);
	font-weight: 700;
	font-size: clamp(1.875rem, 1.0282rem + 4.8387vw, 3.75rem);
	color: var(--text-colour-header);
}

main p {
	font-weight: 500;
	font-size: clamp(0.875rem, 0.8185rem + 0.3226vw, 1rem);
}
