.nav {
  margin: 0 0 0 auto;
}

.nav a {
  color: var(--light-text);
  font-size: 1.25rem;
  line-height: 30px;
  padding: 0.5rem;
  border-radius: 25px;
}

.nav a:hover {
  background-color: var(--secondary-accent-colour);
}

.nav a:first-of-type {
  margin-right: 1.5rem;
  background-color: var(--secondary-accent-colour);
}
