.bio {
  position: relative;
  margin-top: 200px;
  color: var(--light-text);
}

.bio .pic {
  position: absolute;
  z-index: 1;
  left: -7rem;
  top: 2.5rem;
}

.bio .blob {
  position: absolute;
  z-index: 0;
  left: -9.5rem;
  top: -2.5rem;
}

.bio h1 {
  position: relative;
  font-size: 3.8rem;
}

.bio span {
  color: var(--primary-accent-colour);
}

.bio p {
  position: relative;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 35px;
  margin: 20px 0 40px 0;
}

.bio .link {
  color: var(--primary-accent-colour);
  margin-left: 0.5rem;
}
