---
layout: layouts/base.njk
---

<header>
	<div class="header-content">
		<a href="/" class="home-link">Hi, I'm Ethan</a>
		<p>
			A frontend developer with an interest in design, specialising in web
			technology. <br />Working at
			<a
				class="fat-hover-link"
				href="https://pebblepad.com/"
				target="_blank"
				rel="noopener noreferrer"
				>PebblePad.</a
			>
		</p>
	</div>
</header>

<main id="skip">
	{{ content | safe }}
</main>
