html {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: var(--primary-font), monospace;
}

body {
    max-width: 750px;
    margin: 0 auto;
}

a {
    color: var(--secondary-text);

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--primary-text);
    }
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5.625rem 0;

    & span {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        margin-top: 0.625rem;
    }
}

.nav-header {
    font-family: var(--header-font);
    font-size: 7rem;
    text-decoration: none;
    color: var(--primary-text);

    &:hover,
    &:focus {
        color: var(--secondary-text);
    }
}

footer {
    display: flex;
    align-items: center;
    margin: 7.5rem 0 5.625rem 0;

    & div {
        display: flex;
        gap: 1.25rem;
        margin: 0 0 0 auto;
    }

    & a {
        color: var(--primary-text);
        text-decoration: none;
        font-size: 1rem;

        & svg {
            width: 2rem;
            height: 2rem;
            fill: var(--primary);
        }

        &:hover svg,
        &:focus svg {
            fill: var(--accent);
        }

        &:hover,
        &:focus {
            text-decoration: underline;
            color: var(--secondary-text);
        }
    }
}
