html {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: var(--primary-font), monospace;
}

body {
    max-width: 1353px;
    margin: 0 auto;
}

a {
    color: var(--primary-accent);
}

p {
    color: var(--primary-text);
}

nav {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;

    & a {
        font-size: 1.5rem;
    }

    & a:first-of-type {
        font-family: var(--secondary-font), serif;
        font-size: 4.5rem;
        font-weight: 700;
        margin: 0 auto 0 0;
    }
}

footer {
    background-image: url("/public/wave.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom;
    min-height: 18rem;
    margin-top: 6.5rem;
    display: flex;
    align-items: end;
    border-bottom: 1px solid #1d5b5b;

    & a {
        color: var(--primary-background);
        text-decoration: none;
        margin: 0 0 1rem 2rem;
    }
}
