@font-face {
    font-family: "Departure Mono";
    src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
    font-feature-settings: "locl";
}

@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
    font-display: fallback;
}

@font-face {
    font-family: "Rubik Glitch";
    src: url("/fonts/RubikGlitch-Regular.ttf") format("truetype");
    font-display: fallback;
}

/* TODO: convert colours to new colour type */
:root {
    --primary-background: #ffffff;

    --primary: #161616;
    --accent: #911111;

    --primary-text: var(--primary);
    --secondary-text: var(--accent);

    --primary-font: "Departure Mono", monospace;
    --secondary-font: "Lora", serif;
    --header-font: "Rubik Glitch", serif;
}
