@font-face {
    font-family: "Departure Mono";
    src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
    font-feature-settings: "locl";
}

@font-face {
    font-family: "Rubik Glitch";
    src: url("/fonts/RubikGlitch-Regular.ttf") format("truetype");
    font-display: fallback;
}

/* TODO: convert colours to new colour type */
:root {
    --primary-background: #fff9f6;
    --page-background: #e2ddf8;
    --page-border: #f0ddd6;

    --primary: #161616;
    --secondary: #525252;
    --accent: #c54d26;
    --accent-lighter: #d85a30;
    --accent-secondary: #6a60d7;

    --primary-text: var(--primary);
    --secondary-text: var(--secondary);

    --primary-font: "Departure Mono", monospace;
    --header-font: "Rubik Glitch", serif;
}
