.post {
  line-height: 30px;
}

.post .info {
  margin: 4rem 0 4rem 0;
}

.post .info h1 {
  color: var(--light-text);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.post .info p {
  color: var(--darker-text);
  font-size: 25px;
}

.post main h2 {
  color: var(--light-text);
  margin-bottom: 1rem;
}

.post main p {
  color: var(--darker-text);
  font-size: 20px;
  margin-bottom: 1.25rem;
}

.post main a {
  color: var(--primary-accent-colour);
}

.post main a:hover {
  text-decoration: underline;
}

.post main ul {
  color: var(--light-text);
}
